.containerPage {
  width: 100vw;
  height: auto;
  max-width: 100vw;
  min-height: 110vh;
  background-color: rgb(39, 43, 51);
  overflow-x: hidden;
}

.scrollContainer {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
