*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardContent {
    height: 40%;
    width: 100%;
    background-color: rgb(60, 62, 68);
    margin: 0;
    padding: 0;
}

.nameCharacter{
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    margin-bottom: 5px;
}

.descriptionText{
    color: #F6BD2D;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    margin-bottom: 10px;
}

.descriptionTextTitle{
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
}
